body{
	background-color: lightgrey;
}

.kezdő img{
	max-height: 20rem;
	display: block;
	margin: 15px auto;
}

.kezdő{
	text-align: center;
}

.fejléc{
	border: 2px solid black
}

.lábléc{
	border: 2px solid black
}
